<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>cloginServlet</display-name>
    <servlet-name>cloginServlet</servlet-name>
    <servlet-class>customer.cloginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cloginServlet</servlet-name>
    <url-pattern>/cloginServlet</url-pattern>
  </servlet-mapping>
  <display-name>DropMeProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CRegisterServlet</display-name>
    <servlet-name>CRegisterServlet</servlet-name>
    <servlet-class>customer.CRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CRegisterServlet</servlet-name>
    <url-pattern>/CRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingControl</display-name>
    <servlet-name>BookingControl</servlet-name>
    <servlet-class>customer.BookingControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingControl</servlet-name>
    <url-pattern>/BookingControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentControl</display-name>
    <servlet-name>PaymentControl</servlet-name>
    <servlet-class>customer.PaymentControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentControl</servlet-name>
    <url-pattern>/PaymentControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DriverControl</display-name>
    <servlet-name>DriverControl</servlet-name>
    <servlet-class>customer.DriverControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverControl</servlet-name>
    <url-pattern>/DriverControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactControl</display-name>
    <servlet-name>ContactControl</servlet-name>
    <servlet-class>customer.ContactControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactControl</servlet-name>
    <url-pattern>/ContactControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VehicleControl</display-name>
    <servlet-name>VehicleControl</servlet-name>
    <servlet-class>customer.VehicleControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VehicleControl</servlet-name>
    <url-pattern>/VehicleControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminControl</display-name>
    <servlet-name>AdminControl</servlet-name>
    <servlet-class>customer.AdminControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminControl</servlet-name>
    <url-pattern>/AdminControl</url-pattern>
  </servlet-mapping>
</web-app>